.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 10px;
  text-align: center;
  box-shadow: 0 0 15px 0 #C0C0C0;
}

.clean-overview-prop {
  display: flex;
}

.calculated-window {
  display: flex;
}

.step-window {
  display: block;
}

.cust-input-field {
  display: flex;
  flex-wrap: wrap;
  width:51%;
  padding: 10px;
}

.stripe-form {
  background: #d1d1d1;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
}

.stripe-card {
  background: #ffffff;
  border: 1px solid #d1d1d1;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
}
